:root {
    --background: rgb(57,62,66);
    --navbar:rgb(52,53,55);
    --footer:rgb(52,53,55);
  }
*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
}

section{
    background-color: var(--background);
    width: 100vw;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-right: 6rem;
  }
  
li {
    float: right;
  }
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 1.4rem 2.5rem;
    text-decoration: none;
    background-color: var(--navbar);
    margin-right:5px ;
    text-transform: uppercase;
    font-size: 1.6rem;
  }
  
li a:hover {
    background-color: #111;
  }
.active {
    color: yellow;
  }
.main div{
    height: 20rem;
    width: 95%;
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.main{
    display: grid;
    grid-template-columns:minmax(6rem,1fr) repeat(7,minmax(1rem,1fr)) minmax(1rem,1fr);
    grid-template-rows: repeat(2,minmax(12rem,1fr));
    margin: 6rem 0rem 16rem 0rem;
}
.hexagon1,.hexagon2,.hexagon3,.hexagon4,.hexagon5{
    transform: translateY(4rem);
}
.hexagon1{
    grid-column: 3/4;
    grid-row: 1/2; 
}
.hexagon2{
    grid-column: 4/5;
    grid-row: 1/2;
}
.hexagon3{
    grid-column: 5/6;
    grid-row: 1/2;
}
.hexagon4{
    grid-column: 6/7;
    grid-row: 1/2;
}
.hexagon5{
    grid-column: 7/8;
    grid-row: 1/2;
}
.hexagon6,.hexagon7,.hexagon8,.hexagon9{
    transform: translateX(5.6vw);
}
.hexagon6{
    grid-column: 3/4;
    grid-row: 2/2;
}
.hexagon7{
    grid-column: 4/5;
    grid-row: 2/2;
}
.hexagon8{
    grid-column: 5/6;
    grid-row: 2/2;
}
.hexagon9{
    grid-column: 6/7;
    grid-row: 2/2;
}
img:hover{
    transform: scale(1.2);
    transition:all .3s ease-in-out;
}
.footer{
    background-color: var(--footer);
    text-align: center;
    color: white;
    padding: 1rem;
    font-size: 2rem;
    
}
@media only screen and (max-width:1200px){
    .main div{
        height: 18rem;
    }
}
@media only screen and (max-width:1023px){
    .main div{
        height: 10rem;
    }
}
